<div class="container my-5">
  <div class="alert alert-info text-center mt-2 custom" role="alert">
    <p class="lead">
      Select multiple websites from the below dropdown list to compare their
      privacy policy text similarity using a heatmap chart. The chart displays
      the websites on both axes, and the color intensity represents the
      similarity score between them. A higher similarity score indicates a
      closer relationship between the privacy policies of the websites. You can
      select or deselect websites to update the heatmap dynamically. You will
      see the chart once you select at least two items form the dropdown list.
    </p>
  </div>

  <ng-select
    class="mb-3 highlighted-select"
    [items]="hmData"
    bindLabel="name"
    placeholder="Select websites"
    [multiple]="true"
    (change)="onWebsiteChange($event)"
  >
  </ng-select>

  <div *ngIf="showChart" class="container mt-5 text-center">
    <div class="row d-flex justify-content-center">
      <div class="col-auto">
        <ngx-charts-heat-map
          [view]="view"
          [scheme]="customColor"
          [legend]="legend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [xAxisLabel]="xAxisLabelH"
          [yAxisLabel]="yAxisLabelH"
          [results]="chartHeatmapData"
        >
        </ngx-charts-heat-map>
      </div>
    </div>
  </div>
  <p class="lead">Below chart is the similarity matrix of privacy policies that covers all 45 smart device websites that we collected.</p>
  <div class="container mt-5 text-center">
    <div class="row d-flex justify-content-center">
      <div class="col-auto">
        <plotly-plot [data]="data" [layout]="layout"></plotly-plot>
      </div>
    </div>
  </div>

  <p class="lead mt-2">
    Below grid is a structured layout representing list of all 45 smart device
    websites that we used.
  </p>
  <div class="ag-theme-alpine my-5 d-flex justify-content-center">
    <ag-grid-angular
      #agGrid
      class="w-50"
      style="height: 520px"
      [rowData]="rowData$"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [animateRows]="true"
      [gridOptions]="gridOptions"
      (gridReady)="onGridReady($event)"
    >
    </ag-grid-angular>
  </div>
  
</div>
