<div class="container my-5">
  <h2 class="fw-bold text-center">Similarity Scores</h2>

  <div class="container mt-5 text-center">
    <div class="row d-flex justify-content-center">
      <div class="col-auto">
        <plotly-plot [data]="treeMapData" [layout]="treeMapLayout"></plotly-plot>
      </div>
    </div>
  </div>

  <div class="container mt-5 text-center">
    <div class="row d-flex justify-content-center">
      <div class="col-auto">
        <plotly-plot [data]="barChartData" [layout]="barChartLayout"></plotly-plot>
      </div>
    </div>
  </div>

  <div class="container mt-5 text-center">
    <div class="row d-flex justify-content-center">
      <div class="col-auto">
        <plotly-plot [data]="treeMapDataPopular" [layout]="treeMapLayoutPopular"></plotly-plot>
      </div>
    </div>
  </div>

  <div class="container mt-5 text-center">
    <div class="row d-flex justify-content-center">
      <div class="col-auto">
        <plotly-plot [data]="barChartDataPopular" [layout]="barChartLayoutPopular"></plotly-plot>
      </div>
    </div>
  </div>

</div>